* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

#wrapper {
    width: 80%;
    height: 700px;
    background-color: gold;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

header {
    background-color: lightblue;
    flex: 1 100%;
    height: 100px;
}

nav {
    background-color: lightgrey;
    flex: 1 100%;
    height: 50px;
}

#sidebar1 {
    background-color: greenyellow;
    flex: 1;
    height: 450px;
}

main {
    background-color: moccasin;
    flex: 2;
    height: 450px;
}

#sidebar2 {
    background-color: tomato;
    flex: 1;
    height: 450px;
}

footer {
    background-color: pink;
    flex: 1 100%;
    height: 100px;
}
