* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

#wrapper {
    width: 80%;
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

#wrapper > nav {
    flex: 1 100%;
}

#wrapper > footer {
    flex: 1 100%;
}

body {
    background: url("../fabric_1/fabric_1_@2X.png");
}

h1 {
    font-size: 3em;
    font-family: Chalkboard;
}

img {
    border: 5px solid white;
}

/*
audio {
    visibility: hidden;
} */