/* Hauptbereich */

main {
    flex: 1;
    height: 460px;
    background-color: khaki;
    border: 1px solid black;
    border-radius: 10px;
    background-color: khaki;
    color: black;
    overflow: scroll;
}

/* Hauptbereich auf Seite VIP's */

.maingal {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main h2 {
    width: 100%;
    text-align: center;
}

/* Ende Hauptbereich auf Seite VIP's */


/* Beitrag, Artikel */

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Beginn Knopfgestaltung */

button {
    display: block;
    background-color: yellowgreen;
    border-radius: 5px;
    width: 300px;
    outline-color: black;
    padding: 5px;
    margin: 8px auto 8px auto;


}

button a {
    text-decoration: none;
    color: white;
}

button a:link {

}

button a:visited {
    color: black;
}

button a:hover,
button a:focus {
    color: red;
}

button a:active {
    color: teal;
    background-color: yellow;
    outline: none;
}


/* Ende Knopfgestaltung */


/* Bereich Knöpfe */

section h2 {
}

section#scroll1 {
}

/* Ende Bereich Knöpfe */


/* Bereich Pagination */

section#scrollpag {
    margin-top: 15px;
    margin-bottom: 15px;
}

ul.pagination {
    -webkit-padding-start: 0px;
    margin: 0px;
    padding: 0px;

}

ul.pagination li{
    display: inline;
    padding: 0;

}

ul.pagination li a {
    color: orange;
    float: left;
    padding: 6px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
}

u.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

/* Ende Bereich Pagination */


/* Beginn Gestaltung Genericon-Icons */

.genericon-downarrow {
    float: left;
    color: red;
    font-family: Genericons;
    font-size: 16px;
    margin-top: 7.5px;
}

.genericon-uparrow {
    float: left;
    color: yellow;
    font-size: 16px;
}

/* Ende Gestaltung Genericon-Icons */


/* Ausgabebereich für Text (Details) zu einzelner Rasse */

.weiss {
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    text-align: justify;
    padding: 5px;
    outline: none;
}


/* Beginn Definierung Ausgabeziel als 3D für Seite "VIPs" */

.card {
    position: relative;
    width: 200px; height: 200px;
    border: 1px solid white;
    overflow:hidden;
}


.card .tr-flip {
    -webkit-transition: all 0.75s;
    -webkit-transform-style: preserve-3d;
}

.card:hover .tr-flip {
    -webkit-transform: rotateY(180deg);
}

.card .backSide,
.card .frontSide {
    position: absolute;
    top: 0; left: 0;
    width: 200px; height:200px;
    /* text-align:justify; */
    /* line-height:200px; */
    -webkit-backface-visibility: hidden;
}
.card .frontSide1 {
    position: absolute;
    top: 200px; left: 0;
    width: 200px; height: 40px;
    text-align: center;
    line-height: 40px;
    -webkit-backface-visibility: hidden;
    background-color: yellow;
}

.card .backSide {
    background: orangered;
    -webkit-transform: rotateY(180deg);
    height: 240px;
}

.card .frontSide {
    z-index:2;
    /* background:grey; */
}

.card .backSide {
    padding: 10px;
    overflow: scroll;
    background-color: greenyellow;
}

div.backSide {
    text-align: justify;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

div.frontSide1 {
    border-top: 1px solid black;
}

#sprungziel1, #sprungziel2, #sprungziel3,
#sprungziel4, #sprungziel5, #sprungziel6,
#sprungziel7, #sprungziel8, #sprungziel9 {
    background-color: greenyellow;          /* evtl. rot um den Unterschied besser hervorzuheben */
    width: 200px;
    height: 240px;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
}


img.card {
    min-width: 200px;
}

/* Ende Definierung Ausgabeziel als 3D für Seite "VIPs" */


/* Beginn Formular auf Seite Kontakt */

form {
    width: 300px;
    background-color: #eee;
    padding: 20px;
    border: 1px solid #8c8c8c;
}

label {
    display: block;
    cursor: pointer;
}
input#absender,
textarea {
    width: 250px;
    border: 1px solid #8c8c8c;
    margin-bottom: 1em;
}

input:focus,
textarea:focus {
    background-color: #d9d9d9;

}

/* Ende Formular auf Seite Kontakt */



audio {
    display: none;
}




